<?xml version="1.0"?>
<launch>
  <!-- Load the URDF into the ROS Parameter Server -->
  <include file="$(find gilbreth_moveit_config)/launch/move_group.launch">
    <arg name="console_output" value="true"/>
  </include>

  <rosparam command="load" file="$(find gilbreth_gazebo)/config/joint_state_controller.yaml"/>
  <rosparam command="load" file="$(find gilbreth_gazebo)/config/robot_rail_controller.yaml"/>
  <rosparam command="load" file="$(find gilbreth_gazebo)/config/robot_controller.yaml"/>
  <node name="gilbreth_controller_spawner" pkg="controller_manager" type="spawner"
    args="joint_state_controller robot_rail_controller"/>
  <node name="gilbreth_controller_spawner2" pkg="controller_manager" type="spawner"
    args="--stopped robot_controller"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
