<?xml version="1.0"?>
<launch>

  <!-- general arguments -->
  <arg name="spawn_window" default="False"/>  
  <arg name="xterm_cmd" default="xterm -e"/>

  <!-- Default argments -->
  <arg name="gnome_term_cmd" value="gnome-terminal --command"/>
  <arg name="terminal_cmd" value="$(arg xterm_cmd)" if="$(arg spawn_window)"/>
  <arg name="terminal_cmd" value="" unless="$(arg spawn_window)"/>
    
  <!-- Perception -->
  <include file="$(find gilbreth_perception)/launch/gilbreth_perception.launch">
    <arg name="spawn_window" value="$(arg spawn_window)"/>
  </include>

  <!--node name="recog_monitor" pkg="gilbreth_grasp_planning" type="exp_rec_time.py" output="screen"/-->
  <!-- Run -->
  <node name="run_demo" pkg="gilbreth_application" type="remote_run.sh" output="screen"/>

</launch>
